.apple {
  position: absolute;
  z-index: 1;
}

// @for $i from 1 to 21 {
//   .apple:nth-child(#{$i}) {
//     top: 150 + random(100) + px;
//     left: 50 + random(550) + px;
//     transform: rotate(random(30) + deg);
//   }
// }

.dropped-apple {
  animation: drop 1s forwards;
}
@keyframes drop {
  to {
    top: 720px;
  }
}